@model System.Data.DataTable
@{
    var LineaMax = 20;
    var HrActual = DateTime.Now.Hour;
    var MaxHr = 0;
    var MinHr = 0;
    //Int32.TryParse(Model.Compute("Max(LineaPra)","").ToString(),out LineaMax);
    Int32.TryParse(Model.Compute("Max(PraHr)", "").ToString(), out MaxHr);
    LineaMax++;
    var Brk = ViewBag.Brk as System.Data.DataTable;

    if (HrActual > 6 && HrActual <= 15)
    {
        MinHr = 6;
        MaxHr = 16;
    }
    else if (HrActual > 15 && HrActual <= 22)
    {
        MinHr = 6;
        MaxHr = 22;
    }
    else MinHr = 22;   
   
}
  

        @*--------------------------------------------------------------------------PRA-----------------------------------------------------------------------------------------------------------------------------------*@
        <div class="tab-pane active" id="Tab_Pra" role="tabpanel" aria-labelledby="Pra-tab">
            <h1>Validacion De Pruebas Pra</h1>
            <table class="table table-bordered font-weight-bold">
                <thead>
                    <tr>
                        <th style="background-color:black;color:white;text-align:center">

                        </th>
                        @for (int Hr = MinHr; Hr < HrActual + 1; Hr++)
                        {
                            <th style="text-align:center;background-color:cornflowerblue;color:white;text-size-adjust:250%">
                                @Hr
                            </th>
                        }
                    </tr>
                </thead>

                <tbody>
                    @for (int index = 1; index < LineaMax; index++)
                    {
                        <tr>
                            <td style="text-align:center">
                                Linea @index
                            </td>
                            @for (int Hr = MinHr; Hr < HrActual + 1; Hr++)
                            {
                                var Mensaje = "";
                                var sty = "background-color:white";
                                var found = Model.Select(string.Format("PraHr={0} and LineaPra={1}", Hr, index));
                                var found_Brk = Brk.Select(string.Format("PraHr={0} and lineapra={1} AND (brkname = 'EYE FOR EYE' OR brkname = 'AXIS LAYOUT' OR brkname = 'HORISONTAL PRISM' OR brkname = 'VERTICAL PRISM' OR " +
                                        "brkname = 'WRONG RING')", Hr, index));
                                var found_Bad = Model.Select(string.Format("PraHr={0} and LineaPra={1} AND Result=2", Hr, index));
                                if (found.Count() > 0 || found_Brk.Count() > 0 || found_Bad.Count() > 0)
                                {

                                    if (found_Bad.Count() == 0 && found_Brk.Count() == 0)
                                    {
                                        sty = "background-color:green";
                                        Mensaje = "Pass";
                                    }
                                    else
                                    {
                                        sty = "background-color:red";
                                        Mensaje = "Fail";
                                    }
                                }

                                @if (found.Count() > 0 && found_Brk.Count() == 0)
                                {
                                    <td style="@sty">

                                        <a data-toggle="modal" data-target="#@string.Format("mDetail_{0}_{1}", Hr, index)">@Mensaje</a>
                                        <div class="modal" id='@string.Format("mDetail_{0}_{1}", Hr, index)' role="dialog" data-backdrop="false" aria-hidden="true">
                                            <div class="modal-dialog" style="max-width: 70%;" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-green">
                                                        <h5 class="modal-title">Decide</h5>
                                                    </div>
                                                    <div class="modal-body" style="color:black">
                                                        <table class="table table-responsive">
                                                            <thead>
                                                                <tr>
                                                                    <th>Traynumber</th>
                                                                    <th>Date Mesure</th>
                                                                    <th>Side</th>
                                                                    <th>Sphere</th>
                                                                    <th>Power</th>
                                                                    <th>Cylinder</th>
                                                                    <th>Axe</th>
                                                                    <th>Ticknes</th>
                                                                    <th>Pra Name</th>
                                                                    <th>Orbit Name</th>
                                                                    <th>Laser Name</th>
                                                                    <th>DLP Name</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (System.Data.DataRow dr in found)
                                                                {
                                                                    <tr>
                                                                        <td>@dr["Traynumber"]</td>
                                                                        <td>@dr["DateMesure"]</td>
                                                                        <td>@dr["Side"]</td>
                                                                        <td>@dr["Sphere"]</td>
                                                                        <td>@dr["Power"]</td>
                                                                        <td>@dr["Cylinder"]</td>
                                                                        <td>@dr["Axe"]</td>
                                                                        <td>@dr["Ticknes"]</td>
                                                                        <td>@dr["PraName"]</td>
                                                                        <td>@dr["OrbitName"]</td>
                                                                        <td>@dr["LaserName"]</td>
                                                                        <td>@dr["DlpName"]</td>

                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer bg-info">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                }
                                else if (found_Brk.Count() > 0)
                                {
                                    <td style="@sty">

                                        <a data-toggle="modal" data-target="#@string.Format("mDetail_{0}_{1}", Hr, index)">@Mensaje</a>
                                        <div class="modal" id='@string.Format("mDetail_{0}_{1}", Hr, index)' role="dialog" data-backdrop="false" aria-hidden="true">
                                            <div class="modal-dialog" style="max-width: 70%;" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-green">
                                                        <h5 class="modal-title">Breakage</h5>
                                                    </div>
                                                    <div class="modal-body" style="color:black">
                                                        <table class="table table-responsive">
                                                            <thead>
                                                                <tr>
                                                                    <th>Traynumber</th>
                                                                    <th>Breakage Name</th>
                                                                    <th>Station Name</th>
                                                                    <th>Station Code</th>
                                                                    <th>Station Hour</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (System.Data.DataRow dr in found_Brk)
                                                                {
                                                                    <tr>
                                                                        <td>@dr["brk_tray"]</td>
                                                                        <td>@dr["brkname"]</td>
                                                                        <td>@dr["praname"]</td>
                                                                        <td>@dr["pracode"]</td>
                                                                        <td>@dr["prahr"]</td>

                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer bg-info">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                    </td>
                                }

                            }
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        @*-------------------------------------------------------------------------ORBIT----------------------------------------------------------------------------------------------------------------------------------*@
        <div class="tab-pane" id="Tab_Orbit" role="tabpanel" aria-labelledby="Orbit-tab">
            <h1>Validacion De Pruebas Orbit</h1>
            <table class="table table-bordered font-weight-bold">
                <thead>
                    <tr>
                        <th style="background-color:black;color:white;text-align:center">

                        </th>
                        @for (int Hr = MinHr; Hr < HrActual + 1; Hr++)
                        {
                            <th style="text-align:center;background-color:cornflowerblue;color:white;text-size-adjust:250%">
                                @Hr
                            </th>
                        }
                    </tr>
                </thead>

                <tbody>
                    @for (int index = 1; index < LineaMax; index++)
                    {
                        <tr>
                            <td style="text-align:center">
                                Linea @index
                            </td>
                            @for (int Hr = MinHr; Hr < HrActual + 1; Hr++)
                            {
                                var Mensaje = "";
                                var sty = "background-color:white";
                                var found = Model.Select(string.Format("OrbitHr={0} and LineaOrbit={1}", Hr, index));
                                var found_Brk = Brk.Select(string.Format("OrbitHr={0} and lineaorbit={1} AND (brkname = 'GRAY CENTER' OR brkname = 'POWER' OR brkname = 'TOO THICK' OR brkname = 'TOO THIN' OR " +
                                        "brkname = 'CENTER DOT' or brkname='GENERATOR MARK' or brkname='HALO' or brkname='COMMA')", Hr, index));
                                var found_Bad = Model.Select(string.Format("OrbitHr={0} and LineaOrbit={1} AND Result=2", Hr, index));
                                if (found.Count() > 0 || found_Brk.Count() > 0 || found.Count() > 0)
                                {
                                    if (found_Bad.Count() == 0 && found_Brk.Count() == 0)
                                    {
                                        sty = "background-color:green";
                                        Mensaje = "Pass";
                                    }
                                    else
                                    {
                                        sty = "background-color:red";
                                        Mensaje = "Fail";
                                    }
                                }

                                @if (found.Count() > 0 && found_Brk.Count() ==0)
                                {
                                    <td style="@sty">
                                        <a data-toggle="modal" data-target="#@string.Format("mDetail_{0}_{1}", Hr, index)">@Mensaje</a>
                                        <div class="modal" id='@string.Format("mDetail_{0}_{1}", Hr, index)' role="dialog" data-backdrop="false" aria-hidden="true">
                                            <div class="modal-dialog" style="max-width: 70%;" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-green">
                                                        <h5 class="modal-title">Decide</h5>
                                                    </div>
                                                    <div class="modal-body" style="color:black">
                                                        <table class="table table-responsive">
                                                            <thead>
                                                                <tr>
                                                                    <th>Traynumber</th>
                                                                    <th>Date Mesure</th>
                                                                    <th>Side</th>
                                                                    <th>Sphere</th>
                                                                    <th>Power</th>
                                                                    <th>Cylinder</th>
                                                                    <th>Axe</th>
                                                                    <th>Ticknes</th>
                                                                    <th>Pra Name</th>
                                                                    <th>Orbit Name</th>
                                                                    <th>Laser Name</th>
                                                                    <th>DLP Name</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (System.Data.DataRow dr in found)
                                                                {
                                                                    <tr>
                                                                        <td>@dr["Traynumber"]</td>
                                                                        <td>@dr["DateMesure"]</td>
                                                                        <td>@dr["Side"]</td>
                                                                        <td>@dr["Sphere"]</td>
                                                                        <td>@dr["Power"]</td>
                                                                        <td>@dr["Cylinder"]</td>
                                                                        <td>@dr["Axe"]</td>
                                                                        <td>@dr["Ticknes"]</td>
                                                                        <td>@dr["PraName"]</td>
                                                                        <td>@dr["OrbitName"]</td>
                                                                        <td>@dr["LaserName"]</td>
                                                                        <td>@dr["DlpName"]</td>

                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer bg-info">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                }
                                else if (found_Brk.Count() > 0)
                                {
                                    <td style="@sty">

                                        <a data-toggle="modal" data-target="#@string.Format("mDetail_{0}_{1}", Hr, index)">@Mensaje</a>
                                        <div class="modal" id='@string.Format("mDetail_{0}_{1}", Hr, index)' role="dialog" data-backdrop="false" aria-hidden="true">
                                            <div class="modal-dialog" style="max-width: 70%;" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-green">
                                                        <h5 class="modal-title">Breakage</h5>
                                                    </div>
                                                    <div class="modal-body" style="color:black">
                                                        <table class="table table-responsive">
                                                            <thead>
                                                                <tr>
                                                                    <th>Traynumber</th>
                                                                    <th>Breakage Name</th>
                                                                    <th>Station Name</th>
                                                                    <th>Station Code</th>
                                                                    <th>Station Hour</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (System.Data.DataRow dr in found_Brk)
                                                                {
                                                                    <tr>
                                                                        <td>@dr["brk_tray"]</td>
                                                                        <td>@dr["brkname"]</td>
                                                                        <td>@dr["orbitname"]</td>
                                                                        <td>@dr["orbitcode"]</td>
                                                                        <td>@dr["orbithr"]</td>

                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer bg-info">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td style="@sty">
                                        
                                    </td>
                                }

                            }
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        @*-------------------------------------------------------------------------LASER----------------------------------------------------------------------------------------------------------------------------------*@
        <div class="tab-pane" id="Tab_Laser" role="tabpanel" aria-labelledby="Laser-tab">
            <h1>Validacion De Pruebas Laser</h1>
            <table class="table table-bordered font-weight-bold">
            <thead>
                <tr>
                    <th style="background-color:black;color:white;text-align:center">

                    </th>
                    @for (int Hr = MinHr; Hr < HrActual + 1; Hr++)
                    {
                        <th style="text-align:center;background-color:cornflowerblue;color:white;text-size-adjust:250%">
                            @Hr
                        </th>
                    }
                </tr>
            </thead>

            <tbody>
                @for (int index = 1; index < LineaMax; index++)
                {
                    <tr>
                        <td style="text-align:center">
                            Linea @index
                        </td>
                        @for (int Hr = MinHr; Hr < HrActual + 1; Hr++)
                        {
                            var Mensaje = "";
                            var sty = "background-color:white";
                            var found = Model.Select(string.Format("LaserHr={0} and LineaLaser={1}", Hr, index));
                            var found_Brk = Brk.Select(string.Format("laserhr={0} and linealaser={1} AND " +
                                "(brkname = 'NO MARKING' OR brkname = 'PARTIAL MARKING' OR brkname = 'WRONG MARKING')", Hr, index));
                            if (found.Count() > 0 || found_Brk.Count() > 0)
                            {
                                var found_Bad = Model.Select(string.Format("LaserHr={0} and LineaLaser={1} AND Result=2", Hr, index));
                                if (found_Bad.Count() == 0 && found_Brk.Count() == 0)
                                {
                                    sty = "background-color:green";
                                    Mensaje = "Pass";
                                }
                                else
                                {
                                    sty = "background-color:red";
                                    Mensaje = "Fail";
                                }
                            }

                            @if (found.Count() > 0 && found_Brk.Count() == 0)
                            {
                                <td style="@sty">

                                    <a data-toggle="modal" data-target="#@string.Format("mDetail_{0}_{1}", Hr, index)">@Mensaje</a>
                                    <div class="modal" id='@string.Format("mDetail_{0}_{1}", Hr, index)' role="dialog" data-backdrop="false" aria-hidden="true">
                                        <div class="modal-dialog" style="max-width: 70%;" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header bg-green">
                                                    <h5 class="modal-title">Decide</h5>
                                                </div>
                                                <div class="modal-body" style="color:black">
                                                    <table class="table table-responsive">
                                                        <thead>
                                                            <tr>
                                                                <th>Traynumber</th>
                                                                <th>Date Mesure</th>
                                                                <th>Side</th>
                                                                <th>Sphere</th>
                                                                <th>Power</th>
                                                                <th>Cylinder</th>
                                                                <th>Axe</th>
                                                                <th>Ticknes</th>
                                                                <th>Pra Name</th>
                                                                <th>Orbit Name</th>
                                                                <th>Laser Name</th>
                                                                <th>DLP Name</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (System.Data.DataRow dr in found)
                                                            {
                                                                <tr>
                                                                    <td>@dr["Traynumber"]</td>
                                                                    <td>@dr["DateMesure"]</td>
                                                                    <td>@dr["Side"]</td>
                                                                    <td>@dr["Sphere"]</td>
                                                                    <td>@dr["Power"]</td>
                                                                    <td>@dr["Cylinder"]</td>
                                                                    <td>@dr["Axe"]</td>
                                                                    <td>@dr["Ticknes"]</td>
                                                                    <td>@dr["PraName"]</td>
                                                                    <td>@dr["OrbitName"]</td>
                                                                    <td>@dr["LaserName"]</td>
                                                                    <td>@dr["DlpName"]</td>

                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="modal-footer bg-info">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            }
                            else if (found_Brk.Count() > 0)
                            {
                                <td style="@sty">

                                    <a data-toggle="modal" data-target="#@string.Format("mDetail_{0}_{1}", Hr, index)">@Mensaje</a>
                                    <div class="modal" id='@string.Format("mDetail_{0}_{1}", Hr, index)' role="dialog" data-backdrop="false" aria-hidden="true">
                                        <div class="modal-dialog" style="max-width: 70%;" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header bg-green">
                                                    <h5 class="modal-title">Breakage</h5>
                                                </div>
                                                <div class="modal-body" style="color:black">
                                                    <table class="table table-responsive">
                                                        <thead>
                                                            <tr>
                                                                <th>Traynumber</th>
                                                                <th>Breakage Name</th>
                                                                <th>Station Name</th>
                                                                <th>Station Code</th>
                                                                <th>Station Hour</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (System.Data.DataRow dr in found_Brk)
                                                            {
                                                                <tr>
                                                                    <td>@dr["brk_tray"]</td>
                                                                    <td>@dr["brkname"]</td>
                                                                    <td>@dr["lasername"]</td>
                                                                    <td>@dr["lasercode"]</td>
                                                                    <td>@dr["laserhr"]</td>

                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="modal-footer bg-info">
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>
                                </td>
                            }

                        }
                    </tr>
                }

            </tbody>
        </table>
         </div>
        @*---------------------------------------------------------------------------DLP----------------------------------------------------------------------------------------------------------------------------------*@
        <div class="tab-pane" id="Tab_Dlp" role="tabpanel" aria-labelledby="Dlp-tab">
            <h1>Validacion De Pruebas Dlp</h1>
            <table class="table table-bordered font-weight-bold">
        <thead>
            <tr>
                <th style="background-color:black;color:white;text-align:center">

                </th>
                @for (int Hr = MinHr; Hr < HrActual + 1; Hr++)
                {
                    <th style="text-align:center;background-color:cornflowerblue;color:white;text-size-adjust:250%">
                        @Hr
                    </th>
                }
            </tr>
        </thead>

        <tbody>
            @for (int index = 1; index < LineaMax; index++)
            {
                <tr>
                    <td style="text-align:center">
                        Linea @index
                    </td>
                    @for (int Hr = MinHr; Hr < HrActual + 1; Hr++)
                    {
                        var Mensaje = "";
                        var sty = "background-color:white";
                        var found = Model.Select(string.Format("DlpHr={0} and LineaDlp={1}", Hr, index));
                        var found_Brk = Brk.Select(string.Format("dlphr={0} and lineadlp={1} AND (brkname = 'GRAY CENTER' OR brkname = 'SCRATCH' OR brkname = 'HALO' OR brkname = 'DIGIT PAD FELL' OR brkname = 'POLISHING SWIRL')", Hr, index));
                        var found_Bad = Model.Select(string.Format("DlpHr={0} and LineaDlp={1} AND Result=2", Hr, index));
                        if (found.Count() > 0 || found_Brk.Count() > 0 || found_Bad.Count() > 0)
                        {
                            if (found_Bad.Count() == 0 && found_Brk.Count() == 0)
                            {
                                sty = "background-color:green";
                                Mensaje = "Pass";
                            }
                            else
                            {
                                sty = "background-color:red";
                                Mensaje = "Fail";
                            }
                        }
                        if (found.Count() > 0 && found_Brk.Count() == 0)
                        {
                            <td style="@sty">

                                <a data-toggle="modal" data-target="#@string.Format("mDetail_{0}_{1}", Hr, index)">@Mensaje</a>
                                <div class="modal" id='@string.Format("mDetail_{0}_{1}", Hr, index)' role="dialog" data-backdrop="false" aria-hidden="true">
                                    <div class="modal-dialog" style="max-width: 70%;" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header bg-green">
                                                <h5 class="modal-title">Decide</h5>
                                            </div>
                                            <div class="modal-body" style="color:black">
                                                <table class="table table-responsive">
                                                    <thead>
                                                        <tr>
                                                            <th>Traynumber</th>
                                                            <th>Date Mesure</th>
                                                            <th>Side</th>
                                                            <th>Sphere</th>
                                                            <th>Power</th>
                                                            <th>Cylinder</th>
                                                            <th>Axe</th>
                                                            <th>Ticknes</th>
                                                            <th>Pra Name</th>
                                                            <th>Orbit Name</th>
                                                            <th>Laser Name</th>
                                                            <th>DLP Name</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (System.Data.DataRow dr in found)
                                                        {
                                                            <tr>
                                                                <td>@dr["Traynumber"]</td>
                                                                <td>@dr["DateMesure"]</td>
                                                                <td>@dr["Side"]</td>
                                                                <td>@dr["Sphere"]</td>
                                                                <td>@dr["Power"]</td>
                                                                <td>@dr["Cylinder"]</td>
                                                                <td>@dr["Axe"]</td>
                                                                <td>@dr["Ticknes"]</td>
                                                                <td>@dr["PraName"]</td>
                                                                <td>@dr["OrbitName"]</td>
                                                                <td>@dr["LaserName"]</td>
                                                                <td>@dr["DlpName"]</td>

                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer bg-info">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>                            
                        }                        
                        else if (found_Brk.Count() > 0)
                        {
                            <td style="@sty">

                                <a data-toggle="modal" data-target="#@string.Format("mDetail_{0}_{1}", Hr, index)">@Mensaje</a>
                                <div class="modal" id='@string.Format("mDetail_{0}_{1}", Hr, index)' role="dialog" data-backdrop="false" aria-hidden="true">
                                    <div class="modal-dialog" style="max-width: 70%;" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header bg-green">
                                                <h5 class="modal-title">Breakage</h5>
                                            </div>
                                            <div class="modal-body" style="color:black">
                                                <table class="table table-responsive">
                                                    <thead>
                                                        <tr>
                                                            <th>Traynumber</th>
                                                            <th>Breakage Name</th>
                                                            <th>Station Name</th>
                                                            <th>Station Code</th>
                                                            <th>Station Hour</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (System.Data.DataRow dr in found_Brk)
                                                        {
                                                            <tr>
                                                                <td>@dr["brk_tray"]</td>
                                                                <td>@dr["brkname"]</td>
                                                                <td>@dr["dlpname"]</td>
                                                                <td>@dr["dlpcode"]</td>
                                                                <td>@dr["dlphr"]</td>

                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer bg-info">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                            </td>
                        }

                    }
                </tr>
            }

        </tbody>
    </table>
        </div>
        @*/----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@
  
