@model System.Data.DataTable
@{
    Layout = "_LayoutTv";
    ViewData["Title"] = "HrxHr";
    var MinHr = 0;
    var MaxHr = 0;
    Int32.TryParse(Model.Compute("Min(hrs)", "").ToString(), out MinHr);
    Int32.TryParse(Model.Compute("Max(hrs)", "").ToString(), out MaxHr);
    Double Resultado = 0;
    var Semaforo = "";
    var GroupStation = ViewBag.GroupStation as Model.YueGroupStation;
    MaxHr++;
    int Begin = 0;
    int End = 4;
    Int32.TryParse(ViewBag.DisplayBegin.ToString(), out Begin);
    Int32.TryParse(ViewBag.DisplayEnd.ToString(), out End);
    var AuditTotal = ViewBag.SAudit as System.Data.DataTable;
    var Bad = ViewBag.Bad as System.Data.DataTable;
    var Rework = ViewBag.Rework as System.Data.DataTable;
    if (Begin > GroupStation.GetToList.Count)
    {
        Begin = GroupStation.GetToList.Count - 5;

    }
    if (End > GroupStation.GetToList.Count)
    {
        End = GroupStation.GetToList.Count - 1;

    }

}

<h1>HrxHr @GroupStation.Name (Meta @GroupStation.Meta x Hr)</h1>

<table class="table table-bordered font-weight-bold">
    <thead>
        <tr>
            <th>
                Estaciones
            </th>
            <th>

            </th>            
            @for (int Hr = MinHr; Hr < MaxHr; Hr++)
            {
                <th style="text-align:center;text-size-adjust:250%">
                    @Hr
                </th>
            }            
            <th>
                total
            </th>
            <th>
                FPY
            </th>

        </tr>
    </thead>

    <tbody>
        @for (int index = Begin; index <= End; index++)



        {
            var StationCode = GroupStation.GetToList[index];
            var Total = 0.0F;
            var TRework = 0.0f;
            var Tbad = 0.0F;
            var Fpy = 0.0F;


            float.TryParse(Model.Compute("Sum(COUNT)", string.Format("s_code={0}", StationCode)).ToString(), out Total);
            if (Bad != null)
            {
                float.TryParse(Bad.Compute("Count(HrsA)", string.Format("CODE_B={0} AND HrsB >= {1}",StationCode,MinHr)).ToString(), out Tbad);
                float.TryParse(Rework.Compute("COUNT(HrsA)", string.Format("CODE_B={0} AND HrsB >= {1}", StationCode,MinHr)).ToString(), out TRework);
                Tbad = Tbad + TRework;
            }
            if (Total > 0)
            {
                var StationName = Model.Select(string.Format("s_code={0}", StationCode))[0]["sub_desc"].ToString();
                Fpy = ((Total - Tbad) / (Total)) * 100.0F;
                <tr>


                    <td rowspan="3" style="width:250px;font-size:40px">

                        @StationName

                    </td>
                    <td style="width:80px">
                        Qty
                    </td>                    
                    @for (int Hr = MinHr; Hr < MaxHr; Hr++)
                    {
                        var Qty = 0;
                        Int32.TryParse(Model.Compute("Sum(COUNT)", string.Format("s_code={0} AND Hrs = {1}", StationCode, Hr)).ToString(), out Qty);
                        Resultado = Qty / GroupStation.Meta * 100.0;                       
                        if (Resultado < 85 )
                        {
                            Semaforo = "StatusFontRed";
                        }
                        else if (Resultado >= 85 & Resultado < 100)
                        {
                            Semaforo = "StatusFontYellow";

                        }
                        else
                        {
                            Semaforo = "StatusFontGreen";
                        }




                        <th class="@Semaforo" style="text-align:center;font-size:60px;width:150px">
                            @Qty.ToString("N0")
                        </th>
                    }
                    <th style="text-align:center;font-size:60px;width:150px">
                        @Total.ToString("N0")
                    </th>
                    <th style="font-size:60px;width:150px">
                        @Fpy.ToString("N1")%
                    </th>

                </tr>



                <tr>
                    <td style="height:1px;font-size:20px; padding:5px">
                        Bad
                    </td>
                    @for (int Hr = MinHr; Hr < MaxHr; Hr++)
                    {
                        var CBad = 0;
                        var CRework = 0;
                        if (Bad != null)
                        {

                            Int32.TryParse(Bad.Compute("COUNT(HrsA)", string.Format("CODE_B={0} AND HRSB = {1}", StationCode, Hr)).ToString(), out CBad);
                            Int32.TryParse(Rework.Compute("COUNT(HrsA)", string.Format("CODE_B={0} AND HRSB = {1}", StationCode, Hr)).ToString(), out CRework);
                        }
                        CBad = CBad + CRework;
                        if (CBad >= 1)
                        {

                            if(CBad >1)
                            {
                                Semaforo = "StatusRed";
                            }
                            else
                            {
                                Semaforo = "StatusYellow";
                            }
                        }
                        else
                        {
                            Semaforo = "";
                        }
                  

                        <td class="@Semaforo" style="height:1px;font-size:20px; padding:5px; text-align:center">
                            @CBad.ToString("N0")
                        </td>
                    }

                </tr>

                <tr>
                    <td style="height:1px;font-size:20px; padding:5px">
                        Good
                    </td>
                    @for (int Hr = MinHr; Hr < MaxHr; Hr++)
                    {
                        var CBad = 0;
                        var TotalAudit = 0;
                        if (Bad != null)
                        {
                            Int32.TryParse(Bad.Compute("COUNT(HrsA)", string.Format("CODE_B={0} AND HRSB = {1}", StationCode, Hr)).ToString(), out CBad);
                        }
                        if (AuditTotal != null)
                        {
                            Int32.TryParse(AuditTotal.Compute("COUNT(HrsA)", string.Format("CODE_B={0} AND HRSB = {1}", StationCode, Hr)).ToString(), out TotalAudit);
                        }
                        if (TotalAudit >= 1 && CBad <= 0)
                        {
                            Semaforo = "StatusFontGreen";
                        }
                        else
                        {
                            Semaforo = "";
                        }

                        <td style="height:1px;font-size:20px; padding:5px; text-align:center">
                            <label class="@Semaforo">
                                @((TotalAudit).ToString("N0"))
                            </label>
                        </td>
                    }

                </tr>

            }


        }
    </tbody>
</table>
<style>
    .StatusFontRed{
        font-weight: bold; 
        color:red;
    }
    .StatusFontYellow {
        font-weight: bold;
        color: goldenrod;
    }
    .StatusFontGreen {
        font-weight: bold;
        color: green;        
    }   
    StatusFontBlack{
        font-weight: bold;
        color:black;
    }

    .StatusRed, .StatusYellow, .StatusGreen {
        font-weight: bold;
        color: white;
    }

    .StatusRed {
        background-color: red;
    }

    .StatusYellow {
        background-color: goldenrod;
    }

    .StatusGreen {
        background-color: green;
    }

    .StatusZero {
        color: white;
    }    
</style>
