@model System.Data.DataTable
@{
    Layout = "_LayoutTv";
    ViewData["Title"] = "HrxHr";
    var MinHr = 0;
    var MaxHr = 0;
    Int32.TryParse(Model.Compute("Min(hr)", "").ToString(), out MinHr);
    Int32.TryParse(Model.Compute("Max(hr)", "").ToString(), out MaxHr);
    Double Resultado = 0;
    var Semaforo = "";
    var GroupStation = ViewBag.GroupStation as Model.YueGroupStation;
    MaxHr++;
    int Begin = 0;
    int End = 4;
    Int32.TryParse(ViewBag.DisplayBegin.ToString(), out Begin);
    Int32.TryParse(ViewBag.DisplayEnd.ToString(), out End);
    var HrActual = DateTime.Now.Hour;
   



    if (Begin > GroupStation.GetToList.Count)
    {
        Begin = GroupStation.GetToList.Count - 5;

    }
    if (End > GroupStation.GetToList.Count)
    {
        End = GroupStation.GetToList.Count - 2;

    }

}


<h1>HrxHr @GroupStation.Name (Meta @GroupStation.Meta x Hr)</h1>

<table class="table table-bordered font-weight-bold">
    <thead>

        <tr>

            <th>

                Estacion
            </th>               
            <th>
                
            </th>
            @for (int Hr =HrActual-9; Hr < MaxHr; Hr++)
            {               
                <th style="text-align:center;text-size-adjust:250%">
                    @Hr
                </th>
            }
            <th>
                Total
            </th>
        </tr>
    </thead>

    <tbody>
        @for (int index = Begin; index <= End; index++)
        {
            var StationCode = GroupStation.GetToList[index];            
            Int32 Total = 0;
            Int32 TotalTd2 = 0;
            Int32.TryParse(Model.Compute("Sum(total)", string.Format("hr >= {0} AND (code = 'ESY' OR code = 'SDN' OR code = 'ALZ' OR code = 'PRE' OR code = 'AVA' OR code = 'SUN' OR code = 'RGR' OR code= 'SAF'" +
                "OR code= 'SHV' OR code= 'PRO' OR code= 'SHN' OR code= 'NEW' OR code= 'SHR' OR code= 'MCL' OR code= 'MC3' OR code= 'TRI')", HrActual - 9)).ToString(), out Total);
            Int32.TryParse(Model.Compute("Sum(total)", string.Format("hr >= {0} and code = 'TD2'",HrActual - 9)).ToString(), out TotalTd2);
            if (Total > 0)
            {
                var StationName = "AR";
                <tr>
                    <td style="width:250px;font-size:40px">

                        @StationName

                    </td>
                    <td style="width:80px">
                        Qty
                    </td>
                    @for (int Hr = HrActual - 9; Hr < MaxHr; Hr++)
                    {
                        var Qty = 0;
                        Int32.TryParse(Model.Compute("Sum(total)", string.Format("hr = {0} AND (code = 'ESY' OR code = 'SDN' OR code = 'ALZ' OR code = 'PRE' OR code = 'AVA' OR code = 'SUN' OR code = 'RGR' OR code= 'SAF'" +
                "OR code= 'SHV' OR code= 'PRO' OR code= 'SHN' OR code= 'NEW' OR code= 'SHR' OR code= 'MCL' OR code= 'MC3')", Hr)).ToString(), out Qty);
                        Resultado = Qty / GroupStation.Meta * 100.0;
                        if (Resultado < 85)
                        {
                            Semaforo = "StatusFontRed";
                        }
                        else if (Resultado >= 85 & Resultado < 100)
                        {
                            Semaforo = "StatusFontYellow";

                        }
                        else
                        {
                            Semaforo = "StatusFontGreen";
                        }
                        <th class="@Semaforo" style="text-align:center;font-size:60px;width:150px">
                            @Qty.ToString("N0")
                        </th>
                    }
                    <th style="text-align:center;font-size:60px;width:150px">
                        @Total.ToString("N0")
                    </th>

                </tr>

            }
            if (Total > 0)
            {
                
                <tr>
                    <td style="width:250px;font-size:40px">

                        TD2

                    </td>
                    <td style="width:80px">
                        Qty
                    </td>
                    @for (int Hr = HrActual - 9; Hr < MaxHr; Hr++)
                    {
                        var Qty = 0;
                        Int32.TryParse(Model.Compute("Sum(total)", string.Format("hr = {0} AND (code = 'TD2')", Hr)).ToString(), out Qty);
                        Resultado = Qty / GroupStation.Meta * 100.0;
                       
                            Semaforo = "StatusFontBlack";
                        
                        <th class="@Semaforo" style="text-align:center;font-size:60px;width:150px">
                            @Qty.ToString("N0")
                        </th>
                    }
                    <th style="text-align:center;font-size:60px;width:150px">
                        @TotalTd2.ToString("N0")
                    </th>

                </tr>



            }

        }
    </tbody>
</table>


<style>
    .StatusFontRed {
        font-weight: bold;
        color: red;
    }

    .StatusFontYellow {
        font-weight: bold;
        color: goldenrod;
    }

    .StatusFontGreen {
        font-weight: bold;
        color: green;
    }

    StatusFontBlack {
        font-weight: bold;
        color: black;
    }

    .StatusRed, .StatusYellow, .StatusGreen {
        font-weight: bold;
        color: white;
    }

    .StatusRed {
        background-color: red;
    }

    .StatusYellow {
        background-color: goldenrod;
    }

    .StatusGreen {
        background-color: green;
    }

    .StatusZero {
        color: white;
    }
</style>
