@{
    ViewData["Title"] = "Validacion de pruebas";
}


@*<a href='@Url.Action("Defects","tv")'
   class="btn btn-dark">
    Defects Decide

</a>*@
@*<a href='@Url.Action("Dashboard","tv")'
   class="btn btn-dark">
    Dashboard

</a>*@
<a href='@Url.Action("PraValidation","tv")'
   class="btn btn-dark">
    Pra

</a>
<a href='@Url.Action("OrbitValidation","tv")'
   class="btn btn-dark">
    Orbit

</a>
<a href='@Url.Action("LaserValidation","tv")'
   class="btn btn-dark">
    Laser

</a>
<a href='@Url.Action("DlpValidation","tv")'
   class="btn btn-dark">
    Dlp

</a>